{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'src/bootstrap/bootstrap-3.3.7.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <!-- Form for csrf token -->
    <form id="csrf_getting_form" action="">{% csrf_token %}</form>

    {% block header %}
        <header>
            <h1>Header block</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/blog/">Home</a>
                    </li>
                    <li>
                        <a href="/blog/users/">Authors</a>
                    </li>
                </ul>
            </nav>
        </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
        <footer>
            <h1>Footer block</h1>
        </footer>
    {% endblock footer %}

    <!-- Sources -->
    <script src="{% static 'src/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'src/bootstrap/bootstrap-3.3.7.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
