{% extends 'base.html' %}
{% load static %}

{% block title %}
    Posts
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if request.user.is_authenticated %}
                    <a href="{% url 'post:create' %}" class="create-post">Create post</a>
            {% else %}
                <p>To add recordings you need to register  <a href="#">registration</a></p>
            {% endif %}
        </div>
        <div class="row">
            {% if posts %}
                {% for post in posts %}
                    <article class="col-lg-4">
                        {% include 'post/post.html' %}
                    </article>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}