{% extends 'base.html' %}

{% load static %}

{% block title %}
    Create post
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <p>
                    <a href="/blog/">Return to homepage</a>
                </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 create-form">
                <h2>Post form</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}