{% extends 'base.html' %}
{% load static %}

{% block title %}
    Posts
{% endblock %}

{% block header %}
    <h1>Posts</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if posts %}
                {% for post in posts %}
                    <article class="col-lg-4">
                        {% include 'post/post.html' %}
                    </article>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}