{% extends 'base.html' %}
{% load static %}

{% block title %}
    Users
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if users %}
                <h3>List all authors</h3>
                {% for user in users %}
                    <ul class="user-list">
                        <li>
                            <h4>{{ user.username }}</h4>
                            <p>All posts by this author <a href="{% url 'post:user-detail' user.id %}">see</a></p>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                <span>Clear here</span>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}