{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block header %}
    <h1>{{ user.username }}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if user %}
                {{ user.username }}
            {% endif %}
            {% for post in posts %}
                {{ post.title }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}